<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CoderHome_LocalService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.audi.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.audi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.audi.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>org.audi.controller.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/addcont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllContact</display-name>
    <servlet-name>AllContact</servlet-name>
    <servlet-class>org.audi.controller.AllContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllContact</servlet-name>
    <url-pattern>/allcont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyContact</display-name>
    <servlet-name>MyContact</servlet-name>
    <servlet-class>org.audi.controller.MyContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyContact</servlet-name>
    <url-pattern>/mycontact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContact</display-name>
    <servlet-name>DeleteContact</servlet-name>
    <servlet-class>org.audi.controller.DeleteContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContact</servlet-name>
    <url-pattern>/deletecont</url-pattern>
  </servlet-mapping>
</web-app>